<article>
	<style>
		td{
			text-align: center;
		}
	</style>
	<div class="container">
		<div *ngIf="deleteMessage" class="alert alert-danger alert-dismissible fade show">
			<strong>Deleted the field !</strong> 
			<button type="button" (click) ="removeMessage()" class="btn-close" data-bs-dismiss="alert"></button>
		</div>
		<h1 class="article-heading text-center m-4">Driver's List</h1>
		<table class="table table-striped table-bordered bg-light rounded">
            <thead>
				<tr class="text-center bg-secondary text-white" style="font-size: 1.3em;">
				
					<th>License Number</th>
					<th>Name</th>
					<th>Phone Number</th>
					<th>Vehicle Type</th>
					<th>Actions</th>
				</tr>
			</thead>
            <tbody>
				<tr *ngFor="let d of drivers">
					<td>{{d.licensenumber}}</td>
					<td>{{d.name}}</td>
					<td>{{d.age}}</td>
					<td>{{d.vehicletype}}</td>
					<td>
						
                        <button class="btn btn-info" (click)="deleteDriver(d,d.licensenumber);">delete</button>
					</td>
                </tr>
            </tbody>

		</table>
		<div style="margin-bottom: 10px;" class="d-grid gap-2 d-md-flex justify-content-md-center">
			<a routerLink="/home" class="text-primary " style="text-decoration: none;"><button
					class="btn btn-info">Home</button></a>
		</div>
	</div>
</article>

