<html>
	<head>
	</head>
	<body>
		<h1 class="text-center mt pt-3">Driver By Vehicle Type</h1>
		<div class="bootstrap-wrapper">
			<div class="container mt text-center">
				<form (submit)="selectDriverType()">
					<div class="pt-5">
						<input type="text" placeholder="Enter Vehicle Type" name="search" [(ngModel)]="getdriverbytype"> &nbsp;
					</div>
					<br>
					<button class="btn btn-success" type="submit">Search</button>
				</form>
				
				<div class="p-5" *ngIf="!hideDiv">
					<table class="table table-striped table-bordered bg-light rounded">
						<thead>
							<tr class="text-center bg-secondary text-white" style="font-size: 1.3em;">
				
								<th>License Number</th>
					            <th>Name</th>
					            <th>Phone Number</th>
					            <th>Vehicle Type</th>
					            
							</tr>
						</thead>
						<tbody>
                            <tr *ngFor="let d of driverbytype">
                                <td>{{d.licensenumber}}</td>
                                <td>{{d.name}}</td>
                                <td>{{d.age}}</td>
                                <td>{{d.vehicletype}}</td>
                            </tr>
						</tbody>

					</table>
					
				</div>
				<div *ngIf="!noDataDisplay"><h3 class="text-center red">No drivers found!</h3></div>
				
			</div>
		</div>
		<!--</div>-->
		<div style="margin: 10px 0 10px 0;" class="d-grid gap-2 d-md-flex justify-content-md-center">
			<a routerLink="/home" class="text-primary " style="text-decoration: none;"><button
					class="btn btn-info">Home</button></a>
		</div>
	</body>

</html>
